@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400,700&display=swap');
* {
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Figtree', sans-serif;
    background-color: #d1d5db;
    color: #4b5563;
}

body, input, button {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}